api.syncany.org/config/database/*.properties
api.syncany.org/config/keys/*.properties
api.syncany.org/config/keys/gnupg/pubring*
api.syncany.org/config/keys/gnupg/secring*
api.syncany.org/config/keys/gnupg/trustdb*
api.syncany.org/config/keys/gnupg/random_seed*
api.syncany.org/upload/*/*
api.syncany.org/log/*.log
api.syncany.org/html/ping.php
api.syncany.org/html/v1-deactivated/
api.syncany.org/html/v2-deactivated/
api.syncany.org/vendor/
get.syncany.org/html/apt/release/db/
get.syncany.org/html/apt/release/dists/
get.syncany.org/html/apt/release/pool/
get.syncany.org/html/apt/snapshot/db/
get.syncany.org/html/apt/snapshot/dists/
get.syncany.org/html/apt/snapshot/pool/
get.syncany.org/html/dist/*/*
dav.syncany.org/
docs.syncany.org/html/javadoc/
reports.syncany.org/html/cloc.xml
reports.syncany.org/html/coverage/
reports.syncany.org/html/tests/
configuration/mysql/grant-users.sql
