RewriteEngine On

# Redirect to new archive
RewriteCond %{HTTPS} !=on
RewriteRule apt/(.*)$ http://get.syncany.org/apt/$1 [R=302,L]

# Redirect to new archive
RewriteCond %{HTTPS} ==on
RewriteRule apt/(.*)$ https://get.syncany.org/apt/$1 [R=302,L]

