; Database configuration file.
; Can be used via Database::createInstance("<context>");
;
; Do NOT add it to the version control system!
;
; General syntax:
;   <context>.dsn  = mysql:host=localhost;port=3306;dbname=<somedatabase>
;   <context>.user = <someusername>
;   <context>.pass = <somepassword>
;
; Generate new password:
;   < /dev/urandom tr -dc A-Za-z0-9 | head -c${1:-16}; echo
;

app-read.dsn       = mysql:host=localhost;port=3306;dbname=syncanyapi
app-read.user      = syappread
app-read.pass      = ...

app-write.dsn      = mysql:host=localhost;port=3306;dbname=syncanyapi
app-write.user     = syappwrite
app-write.pass     = ...

plugins-read.dsn   = mysql:host=localhost;port=3306;dbname=syncanyapi
plugins-read.user  = sypluginsread
plugins-read.pass  = ...

plugins-write.dsn  = mysql:host=localhost;port=3306;dbname=syncanyapi
plugins-write.user = sypluginswrite
plugins-write.pass = ...

links-read.dsn     = mysql:host=localhost;port=3306;dbname=syncanyapi
links-read.user    = sylinksread
links-read.pass    = ...

links-write.dsn    = mysql:host=localhost;port=3306;dbname=syncanyapi
links-write.user   = sylinkswrite
links-write.pass   = ...