RewriteEngine On

# Redirect 'syncany.org' to 'www.syncany.org'
RewriteCond %{HTTP_USER_AGENT} !^.+MSIE\s6
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^get.syncany.org$
RewriteRule ^(.*) https://get.syncany.org/$1 [R=302,L] 
