; API key configuration file.
;
; Contains API keys for application and plugin upload. API keys should be truly random.
; Do NOT add the file with the production keys to the version control system!
;
; Generate new keys:
;   < /dev/urandom tr -dc A-Za-z0-9 | head -c${1:-64}; echo
;

; Application
application-put.key          = VFYKUKsP...

; OSX Notifier
osx-notifier-put.key         = ...

; Team Plugins
plugins-put-dropbox.key      = ...
plugins-put-flickr.key       = ...
plugins-put-ftp.key          = ...
plugins-put-gui.key          = ...
plugins-put-raid0.key        = ...
plugins-put-s3.key           = ...
plugins-put-samba.key        = ...
plugins-put-sftp.key         = ...
plugins-put-simpleweb.key    = ...
plugins-put-swift.key        = ...
plugins-put-webdav.key       = ...

; Third-party Plugins
plugins-put-googledrive.key  = ...

; Docker Trigger Tokens
docker.trigger-url.release   = ...
docker.trigger-url.snapshot  = ...